.ant-layout {
    height: 100%;
}

.header {
    padding: 0;
}

.logo {
    height: 44px;
    margin: 8px 16px;
    background: url('~@/assets/logo.svg') no-repeat center / 50px auto;
}

.layout-content {
    overflow-y: auto;
}

.user-info {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 20px;
    color: #fff;

    .user-icon {
        margin-right: 5px;
    }

    .user-name {
        margin-right: 20px;
    }

    .user-logout {
        display: inline-block;
        cursor: pointer;
    }
}

.ant-layout-header {
    padding: 0 !important;
}
